@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
}

<h2>Client Restaurants</h2>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css"/>
 
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.js"></script>
    <script>
        $(function(){
            $.ajax("/api/restaurants/", {method: "get"}).then(function(response){
                console.log(response);
            });
        });
    </script>
}
